@page "/"

<h2>Configuration Controller</h2>

@using BedrockServerConfigurator.Library
@inject Configurator config

<div class="text-center">
    <button @onclick="LoadServers"
            class="btn btn-success"
            disabled="@(!config.AllServerDirectories().Any())">
        Load all servers
    </button>

    <button @onclick="Kill"
            class="btn btn-danger">
        Kill all servers
    </button>

    <button @onclick="New"
            class="btn btn-outline-secondary"
            disabled="@(!config.TemplateServerExists || creatingNewServer || IsDowloading)">
        @(NewServerButtonText())
    </button>

    <button @onclick="Download"
            class="btn @((config.TemplateServerExists || newDownloadStarted) && !serverDownloaded ? "btn-outline-secondary" : "btn-success")"
            disabled="@(config.TemplateServerExists || newDownloadStarted)">
        @(DownloadButtonText())
    </button>
</div>

<div class="row">
    <h3 class="col-md-12">Available servers</h3>
    @foreach (var server in config.AllServerDirectories())
    {
        <div class="col-md-2">
            @server
        </div>
    }
</div>

<div class="row">
    <h3 class="col-md-12">Loaded servers</h3>
    @foreach (var server in config.AllServers)
    {
        <div class="col-md-4 card">
            <ServerController MinecraftServer="server.Value"/>
        </div>
    }
</div>

@code {
    // features
    // add how much memory and cpu servers use
    // what if getting a property value from properties class returns the value saved in the file

    bool newDownloadStarted = false;
    bool serverDownloaded = false;

    bool IsDowloading => newDownloadStarted && !serverDownloaded;

    bool creatingNewServer = false;

    int percentDownloaded = 0;

    protected override void OnInitialized()
    {
        config.TemplateServerDownloadChanged += (_, args) =>
        {
            percentDownloaded = args.ProgressPercentage;

            this.InvokeAsync(this.StateHasChanged);
        };
    }

    private void LoadServers()
    {
        config.LoadServers();
    }

    private void Kill()
    {
        config.StopAllServers();

        this.StateHasChanged();

        Utilities.RunACommand("taskkill /f /fi \"imagename eq bedrock_server.exe\"", "killall bedrock_server").Start();
    }

    private async void Download()
    {
        newDownloadStarted = true;

        await config.DownloadBedrockServer();

        serverDownloaded = true;

        this.StateHasChanged();
    }

    private async void New()
    {
        creatingNewServer = true;

        await Task.Run(config.NewServer);

        creatingNewServer = false;

        this.StateHasChanged();
    }

    private string DownloadProgress()
    {
        if(percentDownloaded < 100)
        {
            return $"{percentDownloaded}% downloaded";
        }
        else if (!serverDownloaded)
        {
            return "Unzipping...";
        }
        else
        {
            return "Download finished!";
        }
    }

    private string DownloadButtonText()
    {
        if (newDownloadStarted)
        {
            return DownloadProgress();
        }
        else if (!newDownloadStarted && config.TemplateServerExists)
        {
            return "Template server is already downloaded";
        }
        else
        {
            return "Download template server";
        }
    }

    private string NewServerButtonText()
    {
        if (creatingNewServer)
        {
            return "Creating new server...";
        }
        else if (!config.TemplateServerExists)
        {
            return "Download template server first";
        }
        else if (IsDowloading)
        {
            return "Please wait...";
        }
        else
        {
            return "New server";
        }
    }
}
