@page "/ServerPage/{id:int}"
@inject Configurator config

@if (minecraftServer == null)
{
    <p>No server with id @Id exists</p>
}
else if (!minecraftServer.Running)
{
    <p>Server isn't running</p>
    <button class="btn btn-primary" @onclick="minecraftServer.StartServer">Start server</button>
}
else
{
    @foreach (var player in minecraftServer.AllPlayers)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@player.Username</h5>
                <p class="card-text">Xuid - @player.Xuid</p>
                <p class="card-text">
                    @(player.IsOnline ? $"Has been online since: {player.LastAction} = {ProcessTime(player.LastAction)}"
                                      : $"Last online: {player.LastAction} = {ProcessTime(player.LastAction)} ago")
                </p>
                <button class="btn btn-primary"
                        disabled="@(!player.IsOnline)"
                        @onclick="() =>
                                  {
                                      if (IsPlayerSelected(player)) RemovePlayerFromSelected(player);
                                      else selectedPlayers.Add(player);
                                  }">
                    @(player.IsOnline ? (IsPlayerSelected(player) ? "Remove player" : "Select player") : "Player is offline")
                </button>
            </div>
        </div>
    }

    <button class="btn btn-primary" @onclick="Start">Start hell</button>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Server minecraftServer;
    private Api api;

    List<ServerPlayer> selectedPlayers = new List<ServerPlayer>();
    List<Minigame> runningMinigames = new List<Minigame>();

    protected override void OnParametersSet()
    {
        if (config.AllServers.TryGetValue(Id, out Server server))
        {
            minecraftServer = server;
            api = new Api(config);
        }
    }

    private void Start()
    {
        runningMinigames.ForEach(x => x.Stop());

        runningMinigames.Clear();

        foreach (var p in selectedPlayers)
        {
            runningMinigames.Add(new Minigame(p, api));
        }

        runningMinigames.ForEach(x => x.Start());
    }

    private string ProcessTime(DateTime date)
    {
        var time = DateTime.Now.Subtract(date);
        var minutes = Math.Round(time.TotalMinutes, 1);

        return $"{minutes} minutes";
    }

    private bool IsPlayerSelected(Player p)
    {
        return selectedPlayers.FirstOrDefault(x => x.Xuid == p.Xuid) != null;
    }

    private void RemovePlayerFromSelected(Player p)
    {
        selectedPlayers.RemoveAll(x => x.Xuid == p.Xuid);
    }
}
