@inject ConfiguratorData ConfiguratorData

<h4 class="card-header">@MinecraftServer.ID - Port @MinecraftServer.ServerProperties.ServerPort = Version @MinecraftServer.Version</h4>

<div class="btn-group">
    @if (MinecraftServer.Running)
    {
        <button @onclick="async () => await MinecraftServer.StopServerAsync()"
                class="btn btn-danger">
            Stop server
        </button>
    }
    else
    {
        <button @onclick="MinecraftServer.StartServer"
                class="btn btn-success">
            Start server
        </button>
    }

    <a href="@($"ServerPage/{MinecraftServer.ID}")" class="btn btn-primary">Server page</a>
</div>

<input @bind="@CurrentServer.CurrentCommand"
       @onkeypress="@(async (key) =>
                      {
                          switch (key.Key)
                          {
                              case "Enter":
                                    await MinecraftServer.RunCommandAsync(CurrentServer.CurrentCommand);
                                    CurrentServer.Commands.Add(CurrentServer.CurrentCommand);
                                    CurrentServer.CurrentCommand = null;
                                    break;
                              default:
                                  break;
                          }
                      })"
       @oninput="Input"
       type="text"
       placeholder="Enter a command"
       class="form-control" />

<div class="card-body pre-scrollable h-25 card-text">
    @foreach (var message in CurrentServer.Messages)
    {
        <p>@message</p>
    }
</div>

@code {
    [Parameter]
    public Server MinecraftServer { get; set; }

    private ServerData CurrentServer => ConfiguratorData.AllServerData[MinecraftServer.ID];

    protected override void OnParametersSet()
    {
        if (!ConfiguratorData.AllServerData.ContainsKey(MinecraftServer.ID))
        {
            ConfiguratorData.AllServerData.Add(MinecraftServer.ID, new ServerData());
        }

        CurrentServer.Messages.CollectionChanged += (a, b) => this.InvokeAsync(StateHasChanged);

        if (!CurrentServer.LoggingNewMessages)
        {
            MinecraftServer.Log += (msg) =>
            {
                CurrentServer.Messages.Insert(0, msg);
            };

            CurrentServer.LoggingNewMessages = true;
        }
    }

    private void Input(ChangeEventArgs changeEventArgs)
    {
        CurrentServer.CurrentCommand = (string)changeEventArgs.Value;
    }
}
